@media (max-width: 1025px) {
    #main-background-home img {
        height: 50vh;
    }

    .content-category .col-md-4 {
        padding: 0 15px;
    }
}

@media (max-width: 769px) {
    .content-category {
        padding: 20px 0;
    }

    .content-category .row-2-hp {
        padding: 15px 20px;
    }

    .content-category .entry img.img-responsive {
        height: 300px;
    }

    .carousel-main-bg .content-highlight {
        top: 50%;
    }

    .current-project-mb {
        background: #232426;
        display: block;
        margin-top: 30px;
    }

    .current-project-mb .title-accordion {
        padding: 40px 25px 40px 25px;
        position: relative;
    }

    .current-project-mb .title-accordion:focus {
        outline: none;
    }

    .current-project-mb img {
        width: 100%;
        height: 200px;
    }

    .current-project-mb h5 {
        text-transform: uppercase;
        font-size: 16px;
        margin: 15px 0;
    }

    .poer {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .hiser .poer {
        display: none;
    }
}

@media (max-width: 480px) {
    #page-header {
        height: auto;
        min-height: auto;
    }

    #page-header .previous-next-s {
        display: none !important;
    }

    .current-project-mb img {
        height: 100px;
    }

    #main-background-home img {
        height: 400px;
        min-height: auto;
    }

    .carousel-main-bg .content-highlight {
        font-size: 14px;
    }

    .current-project-mb .title-accordion {
        padding: 25px 25px 35px 25px;
        position: relative;
    }

    .content-category .entry img.img-responsive {
        height: 158px;
    }

    .current-project-mb h5 {
        font-size: 14px;
    }

    .content-category .entry h4 {
        font-size: 24px;
    }

    #page-header .previous-next-s {
        display: none;
    }

    #page-header .scroll-down {
        display: none;
    }

    #content .line-vertical-top {
        display: none;
    }

    .content-slide .d-owl-carousel {
        padding: 0;
    }

    .current-project-mb .upder-eh {
        font-size: 14px;
        display: block;
    }

    .current-project-mb .collapse-eh {
        padding-top: 0;
        font-size: 12px;
    }

    .dot-ehat {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .dot-ehat button:focus {
        outline: none;
    }
}
