@media (max-width: 1800px) {
    .item-owlcarousel .block-text h5 {
        font-size: 14px;
    }

    .carousel-main-bg .content-highlight {
        font-size: 14px;
    }

    .main-slide-des .content-slide .owl-dots {
        height: 12px;
    }
}

@media (max-width: 1235px) {
    .carousel-main-bg .content-highlight {
        bottom: auto;
        top: 20%;
    }
}

@media (max-width: 1025px) {
    #page-header {
        height: 50vh;

    }

    #main-background-home img {
        height: 50vh;
    }

    .main-menu {
        min-height: calc(50vh - 230px);
    }

    .padding-5precent {
        padding: 15px;
    }

    .clear-container-mb {
        max-width: 100%;
    }

    .padding-top-mb-40 {
        padding-top: 40px;
    }

    .padding-top-mb-30 {
        padding-top: 30px;
    }

    footer .container.info-footer {
        max-width: 100%;
    }

    .scopy_right_dis span {
        font-size: 12px;
    }

    .footer {
        padding: 30px 0;
    }

    .entry-footer h5 {
        font-size: 16px;
    }

    .sub-footer h5 {
        font-size: 12px;
    }
}

@media (width: 1024px) {
    #list-menu h3.item-menu {
        padding: 15px 2% 15px 8%;
    }

    .content-slide .d-owl-carousel {
        height: 200px;
    }

    .content-slide button.btn-control {
        height: 200px;
    }

    .content-slide .title-silde {
        margin: 15px 0;
    }

    .owl-carousel .item-owlcarousel img {
        height: 100px;
    }

    .content-project-feature .item-owlcarousel img {
        height: 100px;
    }

    .item-owlcarousel .block-text h5 {
        margin: 15px 0;
    }
}

@media (max-width: 769px) {

    body {
        font-size: 18px;
    }

    .col-md, .col-md-1, .col-md-2, .col-md-2a, .col-md-2ac,.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .clear-margin-mobile {
        margin: 0;
    }

    .clear-padding-mobile {
        padding: 0;
    }

    .text-center-mobile {
        text-align: center;
    }

    .single-detail .quote {
        padding-top: 0px;
    }

    #page-header {
        min-height: 550px;
        display: block;
    }

    #masthead .main-menu {
        display: none;
        z-index: 99;
        position: fixed;
        height: 100%;
        min-height: 100%;
        max-height: 100%;

    }

    #masthead .btn-on-mobile {
        display: block;

    }

    .main-menu {
        background-color: rgba(0, 0, 0, .9) !important;
        font-size: 8px;
    }

    /*Button on mobile*/
    #masthead .btn-on-mobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
    }

    #main-background-home {
        position: unset;
        min-height: auto;
    }

    #page-header {
        height: auto;
        min-height: auto;
    }

    .angleDown {
        display: none;
    }

    #list-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    #list-menu h3.item-menu {
        font-size: 36px;
    }

    #list-menu .sub-menu h4 {
        font-size: 24px;
    }

    #masthead .site-branding {
        z-index: 100;
        background-color: #191919 !important;
        padding: 5%;
        height: auto;
        max-height: unset;
        position: fixed;
        width: 100%;
        min-height: auto;
    }

    #masthead .logo.main-logo {
        width: 50px; float:left;
    }

    .content-category .entry img.img-responsive {
        height: 210px;
    }

    .carousel-main-bg .content-highlight {
        top: 36%;
        left: 10%;
        transform: translateX(0);
        width: 100%;
    }

    .carousel-main-bg .content-highlight h1 {
        text-align: left;
    }

    .btn-close {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    .btn-close .angleDown {
        display: block;
        margin-bottom: 25px;
    }

    .back-to-top {
        cursor: pointer;
        display: none;
        left: 50%;
        transform: translateX(-50%);
        bottom: unset;
        right: unset;
        background-color: unset;
    }

    .box_shadow__ {
        padding: 30px 25px !important;
    }

    /*footer*/
.ftco-footer  { padding-left:8%;
    }

    footer .list-social {
        text-align: center;
    }

    footer .col-lg-4 {
        text-align: center;
    }

    footer .item-ft {
        text-align: center !important;
        padding: 10px 15px;
    }

    .cp-copy_right {
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .scopy_right {
        display: none;
    }

    .scopy_right_dis span {
        font-size: 14px;
    }

    .dot-ehat {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile.box_shadow__ {
        display: block;
    }

    .desktop.box_shadow__ {
        display: none;
    }

    .box_shadow__ img {
        height: 100%;
    }

    .middle_content {
        padding-top: 30px;
    }

    .quote span {
        font-size: 12px;
    }

    .scrolldownicon {
        display: none;
    }

    .block-mobile {
        display: block;
    }

    .padding-bottom-70{
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    #masthead .site-branding {
        padding: 15px;
    }

    #list-menu {
        top: 55%;
    }

    #list-menu h3.item-menu {
        font-size: 16px;
    }

    #list-menu .sub-menu h4 {
        font-size: 14px;
    }

    #masthead .site-branding img {
        width: 150px;
    }

    .btn-close {
        bottom: 5px;
    }

}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }

    h3 {
        font-size: 26px;
    }

    .content-wrapper {
        padding-top: 79px;
    }

    /*START: Menu*/
    .owl-dots.dot-ehat {
        display: none;
    }

    #masthead .site-branding {
        z-index: 100;
    }

    #list-menu h3.item-menu {
        font-size: 26px;
    }

    #list-menu .sub-menu h4 {
        font-size: 20px;
    }

    .angleDown {
        font-size: unset;
        width: unset;
        text-align: unset;
        padding-bottom: unset;
        padding-top: unset;
        display: none;
    }

    #list-menu {
        padding: 0 !important;
    }

    #masthead .btn-on-mobile {
        right: 30px;
    }

    .footer-menu {
        width: 100%;
        left: 0;
    }

    .footer {
        padding: 30px 10px;
    }

    .footer-menu span {
        display: none;
    }

    .footer-menu a {
        display: none;
    }

    /*END: Menu*/
    #page-header .previous-next-s {
        display: none !important;
    }

    #main-background-home img {
        height: 400px;
        min-height: auto;
    }

    #page-header .previous-next-s {
        display: none !important;
    }

    .site-branding {
        min-height: unset;
    }

    .carousel-main-bg .content-highlight {
        top: 50% !important;
        left: 0 !important;
        transform: translateX(0) !important;
        width: 100% !important;
        word-break: break-word;
        padding-left: 30px;
        padding-right: 30px;
    }

    .carousel-main-bg .text-highlight h1 {
        font-size: 2em !important;
    }

    .btn-close .angleDown {
        margin-bottom: 20px !important;
    }

    .entries_ce__{
        padding: 30px 15px;
    }

    .entries_ce__ .position-btn {
        bottom: 30px;
        left: 15px;
    }
}
@media (max-width: 320px) {
    .nav-po a {
        display: flex;
        width: 110px;
        line-height: 1;
    }

    .nav-po a i{
        align-self: flex-end;
    }
}